<form class="needs-validation" method="post" [formGroup]="videoForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="video_title">Video title</label>
      <input type="text" formControlName="video_title" placeholder="Enter video title" id="video_title" class="custom-input form-control"
        [ngClass]="{ 'is-invalid': submitted && f.video_title.errors }" />
      <span *ngIf="submitted && f.video_title.errors" class="invalid-feedback">
        <span *ngIf="f.video_title.errors.required">Video title is required</span>
        <span *ngIf="f.video_title.errors.minlength">Video title must be at least 6 characters</span>
      </span>

    </div>
    <div class="col-md-4 mb-3">
      <label for="video_category">Category</label>
      <select class="form-control custom-select" formControlName="video_category" id="video_category" [ngClass]="{ 'is-invalid': submitted && f.video_category.errors }">
        <option value="">--Select category--</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <span *ngIf="submitted && f.video_category.errors" class="invalid-feedback">
        <span *ngIf="f.video_category.errors.required">Video category is required</span>
      </span>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-1">
      <label for="video_category">Update Status</label>
      <br/>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="publish" formControlName="video_status" name="video_status" value="1" class="custom-control-input"
          [ngClass]="{ 'is-invalid': submitted && f.video_status.errors }">
        <label class="custom-control-label" for="publish">Publish</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="un-publish" formControlName="video_status" name="video_status" value="0" class="custom-control-input"
          [ngClass]="{ 'is-invalid': submitted && f.video_status.errors }">
        <label class="custom-control-label" for="un-publish">Un publish</label>
      </div>
      <span *ngIf="submitted && f.video_status.errors" class="invalid-feedback">
        <span *ngIf="f.video_status.errors.required">Video status is required</span>
      </span>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="customFile">Choose video</label>
      <div class="custom-file">
        <input type="file" formControlName="video_status" class="form-control-file" (change)="changeListener($event)" id="customFile"
          required>
        <label class="custom-file-label" for="customFile">Choose file</label>
        <div class="invalid-feedback">
          Please choose video
        </div>
      </div>
    </div>


    <div class="col-md-8 mb-3">
      <label for="validationCustom04">Description</label>
      <textarea class="form-control ckeditor" formControlName="video_description" rows="4" name="video_description" required> 
      </textarea>
      <div class="invalid-feedback">
        Please enter description of video
      </div>
    </div>

  </div>

  <button class="btn btn-primary" type="submit">Submit</button>

  <button id="execute-request-button">Authorize</button>
  <button id="select-file-button">Select file</button>
  <input id="select-file" type="file" style="display:none">
  <br>
  <br>
  <button type="button" id="upload-file-button">Upload file</button>
</form>