<div class="container">
  <p class="text-center">
  </p>
  <div class="row">
    <div class="col-4 mx-auto  mt-5">
      <div class="card  mt-5">
        <article class="card-body">
          <h4 class="card-title mt-3 text-center">Login here</h4>
          <form>
            <div class="form-group input-group">
              <input name="email" class="form-control" placeholder="Email address" type="email"/>
            </div>
            <div class="form-group input-group">
              <input name="password" class="form-control" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
              <button type="submit" (click)="loginBtn()" class="btn btn-primary btn-block"> Signin </button>
            </div>
            <p class="text-center">
              <a href="#">Forgot password ?</a>
            </p>
          </form>
        </article>
      </div>
    </div>

  </div>