<app-header></app-header>
<div class="main-container">
    <div class="container-fluid">

        <div class="row  sm-flex-row-reverse">
            <div class="col-md-3">
                <app-sideabar></app-sideabar>
            </div>
            <div class="col-md-9">
                <div class="bg-main p-3">
                    <h3 class="category-head"> Music </h3>
                    <div class="row py-4" *ngIf="categoryVideos">
                        <div class="col-md-3" *ngFor="let currentVideo of categoryVideos">
                            <div class="card cat">
                                <a class="badge badge-primary-left">{{currentVideo.uploaded_on}}</a>
                                <span class="badge badge-primary">{{currentVideo.duration}}</span>
                                <a href="#">
                                    <img src="{{currentVideo.thumb}}" class="img-fluid" alt="">
                                </a>
                                <div class="overlay">
                                    <div class="text">
                                        <a href="#">
                                            <i class="fa fa-play mr-2"></i> Watch Video</a>
                                    </div>
                                </div>
                            </div>
                            <div class="py-2">
                                <a href="#" class="float-right font-light-dark">
                                    <i class="fa fa-list"></i>
                                </a>
                                <p class="font-light-dark">{{currentVideo.title}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>