<div class="border-hr"></div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="footer-card">
                    <h3>Categories </h3>
                    <ul class="list-unstyled d-flex flex-wrap">
                        <li><a href="#">MUSIC
                        </a></li>
                        <li><a href="#">SPORTS</a></li>
                        <li><a href="#">  GAMING
                       </a></li>
                        <li><a href="#"> NEWS
                        </a></li>
                        <li><a href="#">LIVE
                       </a></li>
                        <li><a href="#"> 360° VIDEO
                     </a></li>
                        <li><a href="#">   NEWS    </a></li>
                        <li><a href="#">MUSIC
                    </a></li>
                        <li><a href="#">SPORTS</a></li>
                        <li><a href="#">  GAMING
                   </a></li>
                        <li><a href="#">MUSIC
                </a></li>
                        <li><a href="#">SPORTS</a></li>
                        <li><a href="#">  GAMING
               </a></li>
                        <li><a href="#"> NEWS
                </a></li>
                        <li><a href="#">LIVE
               </a></li>
                        <li><a href="#"> 360° VIDEO
             </a></li>
                        <li><a href="#">   NEWS    </a></li>
                        <li><a href="#">MUSIC
            </a></li>
                        <li><a href="#">SPORTS</a></li>
                        <li><a href="#">  GAMING
           </a></li>
                        <li><a href="#"> NEWS
            </a></li>
                        <li><a href="#">LIVE
           </a></li>
                        <li><a href="#">MUSIC
        </a></li>
                        <li><a href="#">SPORTS</a></li>
                        <li><a href="#">  GAMING
       </a></li>
                        <li><a href="#"> NEWS
        </a></li>
                        <li><a href="#">LIVE
       </a></li>
                        <li><a href="#"> 360° VIDEO
     </a></li>
                        <li><a href="#">   NEWS    </a></li>
                        <li><a href="#">MUSIC
    </a></li>
                        <li><a href="#">SPORTS</a></li>
                        <li><a href="#">  GAMING
   </a></li>
                        <li><a href="#"> NEWS
    </a></li>
                        <li><a href="#">LIVE
   </a></li>
                        <li><a href="#"> 360° VIDEO
 </a></li>
                        <li><a href="#">   NEWS    </a></li>
                        <li><a href="#"> 360° VIDEO
         </a></li>
                        <li><a href="#">   NEWS    </a></li>
                        <li><a href="#"> NEWS
                    </a></li>
                        <li><a href="#">LIVE
                   </a></li>
                        <li><a href="#"> 360° VIDEO
                 </a></li>
                        <li><a href="#">   NEWS    </a></li>
                        <li><a href="#">MUSIC
                </a></li>
                        <li><a href="#">SPORTS</a></li>
                        <li><a href="#">  GAMING
               </a></li>
                        <li><a href="#"> NEWS
                </a></li>
                        <li><a href="#">LIVE
               </a></li>
                        <li><a href="#"> 360° VIDEO
             </a></li>
                        <li><a href="#">   NEWS    </a></li>
                        <li><a href="#">MUSIC
            </a></li>
                        <li><a href="#">SPORTS</a></li>
                        <li><a href="#">  GAMING
           </a></li>
                        <li><a href="#"> NEWS
            </a></li>
                        <li><a href="#">LIVE
           </a></li>
                        <li><a href="#"> 360° VIDEO
         </a></li>
                        <li><a href="#">   NEWS    </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-card">
                    <h3>Quick Links </h3>
                    <ul class="list-unstyled d-flex flex-wrap">
                        <li><a href="#">Home </a></li>
                        <li><a href="#">About Us </a></li>
                        <li><a href="#">Upload Video</a></li>
                        <li><a href="#">Contact Us </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row py-5">
        </div>
        <div class="row py-9">
            <div class="col-md-9">
                <p class="small font-light-dark"> KIDZSTUBE is the Platform to showcase all your Talents and Kidzs Especially . KIDZSTUBE offers you free Upload access of your videos. </p>
            </div>
            <div class="col-md-3">
                <div class="footer-card">
                    <h3>Follow Us </h3>
                    <ul class="d-flex flex-wrap list-unstyled">
                        <li>
                            <a href="#" class=""> <i class="fa fa-facebook"></i> </a>
                        </li>
                        <li>
                            <a href="#" class=""> <i class="fa fa-google-plus"></i> </a>
                        </li>
                        <li>
                            <a href="#" class=""> <i class="fa fa-twitter"></i> </a>
                        </li>
                        <li>
                            <a href="#" class=""> <i class="fa fa-pinterest"></i> </a>
                        </li>
                        <li>
                            <a href="#" class=""> <i class="fa fa-linkedin"></i> </a>
                        </li>
                        <li>
                            <a href="#" class=""> <i class="fa fa-medium"></i> </a>
                        </li>
                        <li>
                            <a href="#" class=""> <i class="fa fa-youtube"></i> </a>
                        </li>
                        <li>
                            <a href="#" class=""> <i class="fa fa-whatsapp"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="border-hr"></div>
        <div class="row py-3">
            <div class="col-md-12 text-center">
                <ul class="d-flex flex-wrap list-unstyled custom-footer">
                    <li><a href="#">About Kidzstube.com</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Report an Issue</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <p class="small font-light-dark "> © KIDZSTUBE. 2018, All Rights Reserved </p>
            </div>
        </div>
    </div>
</footer>