<table class="table">
    <thead>
      <tr>
        <th>Sr.no</th>
        <th>Title</th>
        <th>Category</th>
        <th>Video thumb</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Title here</td>
        <td>Category</td>
        <td>
          <img src="./../../../../../assets/img/avatar2.png" width="40" height="40" alt="Title here" />
        </td>
        <td>
          <a href="#" class="btn btn-outline-primary btn-xs">
            <i class="fa fa-edit"></i> Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>